$color-primary: rgb(86, 156, 135);
$color-secondary: rgb(253, 203, 71);

$color-note: rgb(252, 223, 219);
$color-menu-note: rgb(60, 18, 24);

$color-chic: rgb(252, 245, 254);
$color-menu-chic:rgb(199, 116, 19);
$color-chic-plat: rgb(165, 102, 153);
$color-chic-dessert:rgb(110, 76, 204);
$start-color-gradient-chic: rgb(247, 142, 31);
$end-color-gradient-chic: rgb(142, 86, 252);

$color-delice:rgb(249, 249, 249);
$color-menu-delice:rgb(10, 135, 251);
$color-menu-text-delice: black;
$start-color-gradient-delice: rgb(35, 53, 243);
$end-color-gradient-delice: rgb(137, 200, 255);

$color-palette:rgb(253, 255, 253);
$color-menu-palette:rgb(114, 191, 86);
$start-color-gradient-palette: #0b9104;
$end-color-gradient-palette: rgb(231, 247, 215);

$color-shadow: rgb(189, 189, 189);